Header set Content-Security-Policy "default-src 'none'; script-src 'self'; style-src 'sha256-hLTVvY60WY0+404NIYOKgmn0OQNSIQM7Vvb34HqomYw='; img-src 'self'; connect-src 'none'; font-src 'none'; object-src 'none'; media-src 'none'; frame-src 'none'; child-src 'none'; form-action 'none'; frame-ancestors 'none'; base-uri 'none'; manifest-src https://alexanderjshapiro.com/favicons/site.webmanifest; upgrade-insecure-requests;"
Header set X-Robots-Tag "noindex, nofollow"

ErrorDocument 400 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 500 /index.html
ErrorDocument 502 /index.html
ErrorDocument 503 /index.html