Header set Content-Security-Policy "default-src 'none'; script-src 'self'; style-src 'sha256-pFTs5m3AE1Pn5LKnfScXCKWrXqSfWkqj0LCcwZLbyrQ='; img-src 'self'; connect-src 'none'; font-src 'none'; object-src 'none'; media-src 'none'; frame-src 'none'; child-src 'none'; form-action 'none'; frame-ancestors 'none'; base-uri 'none'; manifest-src 'none'; upgrade-insecure-requests;"
Header set X-Robots-Tag "noindex, nofollow"